#page_wrapper {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden !important;
    position: relative;
}
.box-layout {
	margin: 0 auto;
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 9;
	position: relative;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
}
.body_overlay {
	position: relative
}
.body_overlay:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .40);
}

/*====================================================================
25. Sidebar panel css
====================================================================*/
/*----- Input Radio Switch ----*/
.switcher_layout, .box_bg_style{
	border-top: 1px solid
}
.select_bg {
	display: inline-block;
	width: 100%
}
.layout_title{
	font-size: 14px;
    margin-bottom: 10px;
    display: inline-block
}
.radio_check {
    border-radius: 22px;
    display: block;
    height: 44px;
    width: 100px;
	position: relative;
	overflow: hidden
}
.radio_check input[type="checkbox"]{
	display: none
}
.radio_check label {
	padding:0 15px;
	transform: translateX(0px);
	width: 156px;
	cursor: pointer;
	max-width: inherit
}
.radio_check input[type="checkbox"]:checked + label{
	transform:translateX(-56px)
}
.radio_check label span {
	line-height: 44px
}
.radio_check label span:first-child {
	float:left
}
.radio_check label span:last-child {
	float:right
}
.radio_check label::before {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 58px;
    position: absolute;
    top: 2px;
    width: 40px;
    z-index: 1;
}
/*----- Box BG Image ----*/
.box_bg_style ul li [type="radio"] {
	display: none;
}
.box_bg_style ul li label.radios {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	font-weight: 500;
	width: 30px;
	height: 30px;
	margin-bottom: -5px
}
.box_bg_style ul li [type="radio"]:checked + label.radios::after {
	content: '✔';
	line-height: 28px;
	border: 1px solid;
	text-align: center
}
.box_bg_style label::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
.box_bg_style ul li [type="radio"]:checked + label.radios::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0px;
	width: 30px;
	height: 30px
}
.box_bg_style li{
	float: left;
    margin: 0 3px 0 0
}

/*====================================================================
4. Color Setting css
====================================================================*/
.on-panel {
    height: 45px;
    left: -45px;
    position: absolute;
    top: 0;
    width: 45px;
    cursor: pointer;
}
.color-panel {
	position: fixed;
	right: -225px;
	top: 200px;
	z-index: 999;
	-webkit-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out
}
.color-panel.open {
	right: 0
}
.on-panel {
	height: 45px;
	left: -45px;
	position: absolute;
	top: 0;
	width: 45px;
	cursor: pointer
}
.on-panel img {
	padding: 10px
}
.panel-box, .switcher_layout,
.box_bg_style {
  padding: 14px 10px 14px 20px;
  width: 225px;
  background: #f8f8f8;
  display: table
}
.panel-box .panel-title {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px
}
.color-box {
	display: table;
	width: 100%;
	text-align: left
}
.color-box li{
	display: inline-block;
	width: 27px;
	height: 27px;
	margin-right: 5px;
	cursor: pointer
}
.scroll-btn{
	position: fixed;
	right: 30px;
	bottom: 50px;
	width: 35px;
	height: 35px;
	line-height: 33px;
	text-align: center;
	color: #fff;
	z-index: 9
}
.color-panel {
	background-color: #fff
}
.color-box li {
	position: relative;
	overflow: hidden;
}
.color-box li:before {
	position: absolute;
    content: "";
    width: 110%;
    height: 145%;
    z-index: 9;
    transform: rotate(45deg);
    left: 11px;
    top: 5px;
}
.color-box li.default {
	background-color:#007c7a
}
.color-box li.default:before {
    background: #1a1a1a
}
.color-box li.color_2 {
	background-color:#44a9ff
}
.color-box li.color_2:before {
    background: #1a1a1a
}
.color-box li.color_3 {
	background-color:#fa5656
}
.color-box li.color_3:before {
    background: #1a1a1a
}
.color-box li.color_4 {
	background-color:#9786ff
}
.color-box li.color_4:before {
    background: #1a1a1a
}
.color-box li.color_5 {
	background-color:#ffcc17
}
.color-box li.color_5:before {
    background: #1a1a1a
}
.color-box li.color_6 {
	background-color:#ff9728
}
.color-box li.color_6:before {
    background: #1a1a1a
}
.color-box li.color_7 {
	background-color:#ff4ab0
}
.color-box li.color_7:before {
    background: #1a1a1a
}
.color-box li.color_8 {
	background-color:#40dcb5
}
.color-box li.color_8:before {
    background: #1a1a1a
}
.color-box li.color_9 {
	background-color:#abe645
}
.color-box li.color_9:before {
    background: #1a1a1a
}
.color-box li.color_10 {
	background-color:#5d78ff
}
.color-box li.color_10:before {
    background: #1a1a1a
}

/*====================================================================
3. Default Background css
====================================================================*/
.body_bg_1 {
	background: url(../img/bg-image/bg-1.jpg) no-repeat fixed;
	background-position: center center
}
.body_bg_2 {
	background: url(../img/bg-image/bg-2.jpg) no-repeat fixed;
	background-position: center center
}
.body_bg_3 {
	background: url(../img/bg-image/bg-3.jpg) no-repeat fixed;
	background-position: center center
}
.body_bg_4 {
	background: url(../img/bg-image/bg-4.jpg) no-repeat fixed;
	background-position: center center
}
.body_bg_5 {
	background: url(../img/bg-image/bg-5.jpg) no-repeat fixed;
	background-position: center center
}
.body_bg_6 {
	background: url(../img/bg-image/bg-6.jpg) no-repeat fixed;
	background-position: center center
}
.body_bg_7 {
	background: url(../img/bg-image/bg-7.jpg) no-repeat fixed;
	background-position: center center
}
.body_bg_8 {
	background: url(../img/bg-image/bg-8.jpg) no-repeat fixed;
	background-position: center center
}
.body_bg_9 {
	background: url(../img/bg-image/bg-9.jpg) no-repeat fixed;
	background-position: center center
}
.body_bg_10 {
	background: url(../img/bg-image/bg-10.jpg) no-repeat fixed;
	background-position: center center
}
.pattern_1{
	background: url(../img/bg-image/pattern/1.png) repeat fixed
}
.pattern_2{
	background: url(../img/bg-image/pattern/2.png) repeat fixed
}
.pattern_3{
	background: url(../img/bg-image/pattern/3.png) repeat fixed
}
.pattern_4{
	background: url(../img/bg-image/pattern/4.png) repeat fixed
}
.pattern_5{
	background: url(../img/bg-image/pattern/5.png) repeat fixed
}
.pattern_6{
	background: url(../img/bg-image/pattern/6.png) repeat fixed
}
.pattern_7{
	background: url(../img/bg-image/pattern/7.png) repeat fixed
}
.pattern_8{
	background: url(../img/bg-image/pattern/8.png) repeat fixed
}
.pattern_9{
	background: url(../img/bg-image/pattern/9.png) repeat fixed
}
.pattern_10{
	background: url(../img/bg-image/pattern/10.png) repeat fixed
}
.pattern_11{
	background: url(../img/bg-image/pattern/11.png) repeat fixed
}
.pattern_12{
	background: url(../img/bg-image/pattern/12.png) repeat fixed
}
.pattern_13{
	background: url(../img/bg-image/pattern/13.png) repeat fixed
}
.pattern_14{
	background: url(../img/bg-image/pattern/14.png) repeat fixed
}
.pattern_15{
	background: url(../img/bg-image/pattern/15.png) repeat fixed
}

.box_bg_style .pattern1{
	background: url(../img/bg-image/pattern/1.png) no-repeat center
}
.box_bg_style .pattern2{
	background: url(../img/bg-image/pattern/2.png) no-repeat center
}
.box_bg_style .pattern3{
	background: url(../img/bg-image/pattern/3.png) no-repeat center
}
.box_bg_style .pattern4{
	background: url(../img/bg-image/pattern/4.png) no-repeat center
}
.box_bg_style .pattern5{
	background: url(../img/bg-image/pattern/5.png) no-repeat center
}
.box_bg_style .pattern6{
	background: url(../img/bg-image/pattern/6.png) no-repeat center
}
.box_bg_style .pattern7{
	background: url(../img/bg-image/pattern/7.png) no-repeat center
}
.box_bg_style .pattern8{
	background: url(../img/bg-image/pattern/8.png) no-repeat center
}
.box_bg_style .pattern9{
	background: url(../img/bg-image/pattern/9.png) no-repeat center
}
.box_bg_style .pattern10{
	background: url(../img/bg-image/pattern/10.png) no-repeat center
}
.box_bg_style .pattern11{
	background: url(../img/bg-image/pattern/11.png) no-repeat center
}
.box_bg_style .pattern12{
	background: url(../img/bg-image/pattern/12.png) no-repeat center
}
.box_bg_style .pattern13{
	background: url(../img/bg-image/pattern/13.png) no-repeat center
}
.box_bg_style .pattern14{
	background: url(../img/bg-image/pattern/14.png) no-repeat center
}
.box_bg_style .pattern15{
	background: url(../img/bg-image/pattern/15.png) no-repeat center
}

.box_bg_style .body_image1{
	background: url(../img/bg-image/bg-1.jpg) no-repeat center / cover;
}
.box_bg_style .body_image2{
	background: url(../img/bg-image/bg-2.jpg) no-repeat center / cover;
}
.box_bg_style .body_image3{
	background: url(../img/bg-image/bg-3.jpg) no-repeat center / cover;
}
.box_bg_style .body_image4{
	background: url(../img/bg-image/bg-4.jpg) no-repeat center / cover;
}
.box_bg_style .body_image5{
	background: url(../img/bg-image/bg-5.jpg) no-repeat center / cover;
}
.box_bg_style .body_image6{
	background: url(../img/bg-image/bg-6.jpg) no-repeat center / cover;
}
.box_bg_style .body_image7{
	background: url(../img/bg-image/bg-7.jpg) no-repeat center / cover;
}
.box_bg_style .body_image8{
	background: url(../img/bg-image/bg-8.jpg) no-repeat center / cover;
}
.box_bg_style .body_image9{
	background: url(../img/bg-image/bg-9.jpg) no-repeat center / cover;
}
.box_bg_style .body_image10{
	background: url(../img/bg-image/bg-10.jpg) no-repeat center / cover;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007c7a;
    border-color: #007c7a;
}
.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.page-link {
  border-color: #007c7a;
}
.page-item.disabled .page-link {
  border-color: #007c7a;
}
.page-item {
  margin-right: 5px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
