@charset "UTF-8";
/**

* Template Name: Uniland - Real Estate HTML5 Template
* Version: 1.0.7
* Author: Unicoder
* Email: unicoder16@gmail.com
* Developed By: Unicoder
* Last Update: 5th September, 2017
* Author URL: www.unicoderbd.com

**/

/*=======================
Fonts and Files
=========================*/
/*
Google Fonts Documentation link
https://developers.google.com/fonts/docs/getting_started
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i');

/*=======================
Import CSS Files
========================*/
@import url('animate.min.css');
@import url('jquery.fancybox.css');
@import url('owl.css');
/*===================================================
Table of CSS Content arrage with every section name
=====================================================
1. Default CSS
2. Top Header CSS
3.1 Nav Header CSS
3.2 Nav Header Style 2 CSS
3.3 Nav Header Style 3 CSS
5. Find Part / Property Search Home Page
6. Offer Part / Service Feature
7. Recent property Section
8. Service Section CSS
9. Achivement Section CSS
10. Our Team Section CSS
11. Client Feedback Section CSS
12. Recent News and News Thumbnail CSS
13. Register Banner CSS
14. Footer CSS
15. Bottom Footer CSS
16. Map and Property Search Home 2
17. Feature Property Tab Home 2
18. Client Feedback 2 Section CSS Home 2
19. Property Catagory Section CSS Home 3
20. Fixed Banner on Top Home 4
21. Submit Property Banner Home 4
22. Pricing Table Section Home 5
23. Page Banner and Title
24. Property grid page
25. Property list page
26. Single Property Page
27. Property gird map page
28. About Us page css
29. Blog Grid page css
30. Blog Details page css
31. Submit Property page css
32. Sign in and Sign up page css
33. Mission page css
34. Career page css
35. Testimonial page css
36. Chang password page css
37. Comments page css
38. Invoices page css
39. Invoices Details page css
40. Message page css
41. Message Details page css
42. My favorite page css
43. My Profile page css
44. My Properties page css
45. Our Services page css
46. Terms and condition page css
47. Contact page css
48. Error page css
49. Faq page css
======================================================*/


/*========================================
1. Default CSS
==========================================*/
body {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	overflow-x: hidden
}
.on-panel i{
	color: #fff;
	padding: 8px 0
}
a, a:hover, a:focus, a:visited {
	text-decoration: none !important;
	outline: none
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	text-transform: uppercase
}
h1, .h1 {
	font-size: 36px;
	font-weight: 700
}
h2, .h2 {
	font-size: 30px;
	font-weight: 700
}
h3, .h3 {
	font-size: 24px;
	font-weight: 700
}
h4, .h4 {
	font-size: 18px;
	font-weight: 600;
}
h5, .h5 {
	font-size: 16px;
	font-weight: 600
}
h6, .h6 {
	font-size: 14px;
	font-weight: 500
}
img {
	width: 100%
}
p {
	line-height: 26px;
	font-weight: 500;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0
}
label {
	margin-bottom: 0px
}
textarea {
	padding-top: 10px !important;
	padding-bottom: 10px !important
}
textarea.form-control {
	height: auto !important
}
.input_search {
	position: relative;
}
.input_search input {
	height: 48px;
	padding-right: 40px
}
.input_search button {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
	width: 40px;
	height: 100%;
	text-align: center;
}
.resize_none {
	resize: none
}
.btn_link {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-transform: uppercase
}
.socail_media_1 {
	display: inline-block;
	float: right
}
.socail_media_1 li span {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.socail_media_1 li {
	float: left;
	margin-right: 20px
}
.socail_media_1 li:last-child {
	margin-right: 0
}
.socail_media_1 li a {
	font-size: 13px
}
.p_20 {
	padding: 20px
}
.p_30 {
	padding: 30px
}
.pt_80, .py_80 {
	padding-top: 80px
}
.pb_80, .py_80 {
	padding-bottom: 80px
}
.pt_100, .py_100 {
	padding-top: 100px
}
.pb_100, .py_100 {
	padding-bottom: 100px
}
.mt_30, .my_30 {
	margin-top: 30px
}
.mb_30, .my_30 {
	margin-bottom: 30px
}
.full_row {
	position: relative;
	width: 100%
}
.title_row .sub_title p {
	padding-left: 15%;
	padding-right: 15%;
	font-weight: 500;
	font-size: 15px
}
.overflow_hidden {
	overflow: hidden
}
.upper_1, .upper_2, .upper_3, .upper_4 {
	position: absolute;
	z-index: 9
}
.upper_4 {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}
.vertical_center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
	margin-left: 0
}
.icon_small [class*="flaticon-"]::before {
	font-size: 16px
}
.icon_medium [class*="flaticon-"]::before {
	font-size: 26px
}
.icon_large [class*="flaticon-"]::before {
	font-size: 40px
}
[class*="icon_list_"] {
	display: inline-block
}
[class*="icon_list_"] li {
	position: relative;
	padding-right: 20px;
	margin-bottom: 20px;
}
[class*="icon_list_"] li::before {
	content: "\f14a";
	font-family: "Font Awesome 5 Free";
	position: absolute;
	top: 0;
	right: 0;
}
.icon_list_1 li {
	width: 33.33%;
	float: left
}
.service_item_1:before, .offer_item_2:before, #scroll, .filter-btns li, .category_img img, .navbar .navbar-nav li a, .navbar .navbar-nav li ul.dropdown-menu, .zoom_effect_1 img, .navbar .navbar-nav li:hover > ul.dropdown-menu, .property_sorting ul li a:hover, a {
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out
}
[class*="overlay_"] {/*in achievement section*/
	position: relative
}
[class*="overlay_"]::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}
.downling_center {
	position: relative;
	padding-bottom: 15px
}
.downling_center::after {
	position: absolute;
	content: "";
	width: 30px;
	height: 5px;
	border-radius: 5px;
	z-index: 1;
	bottom: 0;
	left: 50%;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
@keyframes menu-sticky {
	0% {
		margin-top: -150px;
	}
	50% {
		margin-top: -90px;
	}
	100% {
		margin-top: 0;
	}
}
.bg_img_1 { /*in index 1 achievement section*/
	background-image: url('../img/banner/tech-staff.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.bg_img_7 {
	background-image: url('../img/banner/tech-staff.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.bg_img_2 { /*in index 1 Feedback section*/
	background-image: url(../img/testimonial/test-banner.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.bg_img_3 { /*in index 4 banar section*/
	background-image: url(../img/slider/slide-1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.bg_img_4 { /*in index 4 slider section*/
	background-image: url(../img/slider/fixed-slider.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.bg_img_5 { /*in Top Banner of all page section*/
	background-image: url(../img/slider/slide-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.bg_img_6 { /*about page section*/
	background-image: url(../img/banner/who.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 120% center
}
#scroll { /*Scrolling for going to top*/
	position: fixed;
	right: 30px;
	bottom: 50px;
	width: 35px;
	height: 35px;
	line-height: 33px;
	text-align: center;
	z-index: 9;
	display: none
}

/*========= CSS for Right To Left Version ==========*/
.bootstrap-select .dropdown-toggle .filter-option, .form-control, .bootstrap-select .dropdown-menu li {
	text-align: right;
	font-size: 13px;
	font-weight: 500;
}
.form-group .bootstrap-select .dropdown-toggle::after {
	float: left;
	margin-top: 21px
}
.inner-title, .info-pages, .save_change, .settings_links_2, .submit_form .alert, .list_table thead tr td, .list_table tbody tr td, .single_blog_detail {
}
.pagination {
	float: right
}
.pagination_style1 {
	display: table;
	width: 100%
}
/*========= Bootstrap css edited start ============*/
button:focus {
	outline: none
}
.form-control::-webkit-input-placeholder {
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #a1a1a1;
}
.form-control::-moz-placeholder {
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #a1a1a1;
}
.form-control:-ms-input-placeholder {
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #a1a1a1;
}
.form-control::-ms-input-placeholder {
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #a1a1a1;
}
.form-control::placeholder {
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #a1a1a1;
}
.form-control {
	border: 1px solid;
	font-family: "Montserrat", sans-serif;
	padding: 0 20px;
	width: 100%;
	border-radius: 0;
	height: 46px
}
.form-control:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	border: 1px solid;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	text-shadow: none;
	cursor: pointer;
	border: 2px solid transparent;
	padding: 0 25px;
	line-height: 44px;
	border-radius: 0;
}
/*========= Bootstrap select css start ============*/
.bootstrap-select {
	height: 100%
}
.bootstrap-select .dropdown-toggle:focus, .show > .btn-light.dropdown-toggle:focus {
	outline: none !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.form-group .bootstrap-select {
	width: 100% !important;
	height: auto;
	font-weight: 400
}
.bootstrap-select .dropdown-toggle, .show > .btn-light.dropdown-toggle {
	border: 1px solid;
	padding: 0 20px;
	text-transform: capitalize;
	line-height: 46px;
	border-radius: 0;
	font-weight: 400
}
.bootstrap-select .dropdown-menu {
	font-size: 14px;
	border-radius: 0;
	border-top: none !important;
	margin-top: -2px;
	padding: 0 10px 10px;
	border: 1px solid;
}
.bootstrap-select .dropdown-item {
	padding: 0 8px;
	line-height: 40px;
	margin-bottom: 2px;
	font-family: "Montserrat", sans-serif;
}
.dropdown_1 .bootstrap-select .filter-option {
	padding: 0 15px 0 5px;
	line-height: 40px;
	position: relative
}
.dropdown_1 .bootstrap-select .filter-option::after {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%)
}
.dropdown_1 .bootstrap-select .dropdown-toggle .dropdown-menu {
	float: inherit
}
.dropdown_1 .bootstrap-select .dropdown-toggle, .dropdown_1 .show > .btn-light.dropdown-toggle {
	padding: 0 10px;
	line-height: 40px;
	font-size: 13px
}
.dropdown_1 .bootstrap-select .dropdown-toggle::after {
	font-size: 14px
}
/*========= Owl Carousel Css start ============*/
.owl_carousel_1, .owl_carousel_2, .owl_carousel_ig {
	position: relative
}
.owl_carousel_1 .owl-nav, .owl_carousel_2 .owl-nav, .owl_carousel_ig .owl-nav {
	position: absolute;
	top: -60px;
	right: 0;
}
[class*="owl_carousel_"] .owl-nav button {
	outline: none
}
[class*="owl_carousel_"] .owl-nav i {
	padding: 10px 14px;
	margin-right: 10px
}
.news_item_1, .offer_item_1, .footer_widget p {
	text-align: right;
}
.slider-search-2 .dropdown-toggle::after {
	float: left;
	margin-top: 21px
}
.bootstrap-select .dropdown-toggle .filter-option-inner{
	padding-right: 0
}
/*===============================
2. Top Header CSS
================================*/
.top_header_1 {
	line-height: 40px
}
.top_header_1 .top_left a, .top_right > ul > li {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500
}
.top_header_1 .top_left a i {
	font-weight: 700;
	padding-right: 5px
}
.top_header_1 .registration li {
	float: left;
	margin-left: 30px
}
.top_header_1 .bootstrap-select .dropdown-menu li a {
	line-height: 25px;
	text-align: center
}
/*===============================
3.1 Nav Header CSS
================================*/
.navbar-brand {
	margin-left: 1rem;
	margin-right: 0
}
.navbar-nav li.nav-item {
	float: right
}
#header{
	width: 100%
}
.navbar, .navbar-brand {
	padding: 0
}
.main_header_1 .navbar-expand-lg .navbar-nav .nav-link {
	line-height: 86px;
	padding: 0 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	position: relative
}
.main_header_1 .btn_primary_bg {
	text-transform: capitalize
}
.dropdown-menu li a {
	display: block;
	padding: 0 20px;
	clear: both;
	font-size: 14px;
	line-height: 40px;
	font-family: 'Montserrat', sans-serif;
	white-space: nowrap;
	font-weight: 500;
}
.dropdown-menu .dropdown-toggle {
	position: relative;
	padding: 0 30px 0 20px
}
.full-page-map #header .dropdown-menu .dropdown-toggle::after, .dropdown-menu .dropdown-toggle::after {
	transform: rotate(-90deg) translateY(-50%);
	position: absolute;
	top: 50%;
	right: 15px;
	margin-left: 20px;
}
.full-page-map #header .dropdown-toggle::after {
	transform: rotate(-180deg) translateY(-48%);
	top: 48%;
	right: 8px;
}
.nav-on-top {
	animation-fill-mode: both;
	width: 100%;
	z-index: 9999;
	top: 0;
	position: absolute;
}
.nav-on-banner {
	animation-fill-mode: both;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}
/*--------- MegaMenu ---------*/
.mega_menu_dropdown{
	position: static !important
}
.mega_menu_dropdown .dropdown-menu{
	width: 100%
}
.mega_menu_dropdown .dropdown-menu.mega_menu > li{
	width: 25%;
	float: left;
	display: block
}
.mega_menu_dropdown .dropdown-menu > li > ul a{
	display: block
}
/*========================================
3.2 Nav Header Style 2 CSS
==========================================*/
#header.header_style_2 {
	position: absolute;
	z-index: 999;
	width: 100%;
	left: 0
}
#header.header_style_2 .navbar-expand-lg .navbar-nav .nav-link {
	line-height: 50px
}
/*========================================
3.3 Nav Header Style 3 CSS
==========================================*/
.nav-down #header {
	position: static;
}
.nav-down #header.fixed-top {
	position: static;
	animation: none;
}
/*========================================
5. Find Part / Property Search Home Page
==========================================*/
.property_search_form input, .property_search_form .btn-option {
	width: 100%;
	height: 46px;
}
/*========================================
6. Offer Part / Service Feature
==========================================*/
.offer_item_1 .icon {
	height: 60px;
	position: relative;
	text-align: center;
	width: 60px;
	margin-left: auto
}
.offer_item_1 .icon::before {
	position: absolute;
	content: "";
	border-width: 10px;
	top: 50px;
	right: 0;
	border-style: solid;
}
.offer_item_1 .icon [class^="flaticon-"]::before, .offer_item_1 .icon [class^="flaticon-"]::after {
	line-height: 60px;
	margin: 0 auto;
}
.offer_item_1 .title {
	font-size: 15px
}
/*=======================================
7. Recent property Section
=========================================*/
.property_grid_1 {
	border: 1px solid
}
.property_item .property_link {
	font-family: 'Montserrat', sans-serif;
}
.property_item .title {
	text-transform: capitalize
}
.zoom_effect_1 {
	overflow: hidden;
	position: relative;
}
.team_member_1:hover img, .zoom_effect_1:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.property_item .upper_1, .property_item .upper_2, .property_item .upper_3, .property_item .property-text > span {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 600
}
.property_item .upper_1 {
	left: 10px;
	padding: 6px 12px;
	top: 10px;
}
.property_item .upper_2 {
	top: 10px;
	right: 10px;
	padding: 6px 12px;
}
.property_item .upper_3 {
	bottom: 0;
	font-weight: 500;
	padding: 10px 15px;
	right: 0;
}
.property_item .title {
	font-weight: 500
}
.property_item .property_text > span {
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.property_item .property_text > span > i {
	font-size: 14px;
	padding-left: 7px;
	float: right
}
.property_item .quantity ul li {
	display: inline-block;
	font-weight: 500;
	margin-right: 15px;
	text-align: right
}
.property_item .quantity ul li:last-child {
	margin-right: 0
}
.property_item .quantity li span {
	display: table;
	margin-bottom: 10px;
	width: 100%
}
.property_grid_1 .bed_area {
	border-top: 1px solid;
}
.property_item .bed_area ul li {
	line-height: 50px;
	font-size: 13px;
	font-weight: 400;
	padding-right: 20px
}
.property_item .bed_area ul li:first-child {
	float: right;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: 500
}
.property_item .bed_area ul li.icon_medium {
	float: left;
	padding: 0;
	text-align: center;
	border-right: 1px solid #e5e5e5;
}
.property_item .bed_area ul li.icon_medium [class^="flaticon-"]::before, .property_item .bed_area ul li.icon_medium [class^="flaticon-"]::after {
	margin: 0 auto;
	display: table;
	width: 50px;
	height: 50px;
	line-height: 50px
}
.property_link {
	margin-top: 5px
}
.property_text {
	text-align: right;
}
/*========================================
8. Service Section CSS
==========================================*/
.service_item_1, .offer_item_2 {
	padding: 30px 20px 50px;
	position: relative;
}
.service_item_1::before, .offer_item_2::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scale(.9);
	transform: scale(.9);
}
.service_item_1:hover::before, .offer_item_2:hover::before {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.service_item_1 p {
	margin-bottom: 0
}
/*======================================================
9. Achivement Section CSS
=======================================================*/
.counting_item_1 {
	position: relative;
	z-index: 9
}
.counting_item_1 .subject {
	font-weight: 500;
	margin-top: 15px;
	display: block;
}
/*=====================================
10. Our Team Section CSS
=======================================*/
.team_member_1 .name {
	text-transform: capitalize
}
/*====================================
11. Client Feedback Section CSS
======================================*/
.bootstrap_carousel_1 .carousel-indicators {
	position: inherit;
	margin-top: 50px
}
.bootstrap_carousel_1 .carousel-indicators li::before, .bootstrap_carousel_1 .carousel-indicators li::after {
	display: none
}
.bootstrap_carousel_1 .carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.feedback_item_1 p {
	padding: 0 10%;
	margin-bottom: 0
}
.carousel-indicators li::before {
	position: absolute;
	top: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 10px;
	content: "";
}
.testimonial_avata_1 span {
	text-transform: capitalize;
	font-size: 13px;
}
.testimonial_avata_1 img {
	height: 55px;
	width: 55px !important;
	border-radius: 50%;
	margin: 0 auto 15px
}
/*=============================================
12. Recent News and News Thumbnail CSS
===============================================*/
.news_item_1 .news_img {
	position: relative
}
.news_item_1 .news_img:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(.8);
	transform: scale(.8);
	opacity: 0;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out
}
.news_item_1 .news_img:hover::before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.news_item_1 .news_eye {
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	display: none;
	opacity: 0;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.news_item_1 .news_eye > i {
	font-size: 20px;
	padding: 20px;
}
.news_item_1 .news_img:hover .news_eye {
	opacity: 1;
	display: block
}
.news_item_1 .post_info {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	font-style: italic;
	font-weight: 400;
	margin: 10px 0 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news_item_1 .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*====================================
13. Register Banner CSS
======================================*/
.reg_banner {
	display: inline-block;
	width: 100%;
	text-align: right
}
.reg_banner > span {
	font-style: italic;
	font-family: 'Montserrat', sans-serif
}
.reg_banner .btn {
	display: table;
	float: right;
}
/*===================================
14. Footer CSS
=====================================*/
.footer_widget .widget_head {
	height: 75px;
	padding-bottom: 20px
}
.footer_widget .widget_head img {
	width: 150px
}
.footer_widget .widget_title {
	line-height: 60px
}
.footer_widget .widget_head {
	padding-bottom: 20px;
	text-align: right
}
.footer_widget.get_in_touch ul li {
	position: relative;
	padding-right: 25px;
	margin-bottom: 20px;
	text-align: right;
}
.footer_widget.get_in_touch ul li i {
	font-size: 14px;
	position: absolute;
	top: 3px;
	right: 0;
}
.footer_widget.get_in_touch span {
	font-family: 'Montserrat', sans-serif
}
.footer_widget.quick_link li {
	margin-bottom: 15px;
	text-align: right
}
.footer_widget.quick_link ul, .footer_widget.get_in_touch ul {
	margin-top: 5px
}
.footer_widget.newslatter form {
	padding-top: 15px
}
.footer_widget.newslatter form input {
	height: 46px;
	padding: 10px 20px;
	width: 100%;
	margin-bottom: 10px;
	font-size: 14px
}
/*============================
15. Bottom Footer CSS
==============================*/
.copyright_text {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif
}
/*=====================================================
16. Map and Property Search Home 2
======================================================*/
#map-banner {
	position: relative;
	overflow: hidden;
	width: 100%
}
#map-banner.visible {
	overflow: visible
}
.homepage-map #map {
	width: 100%;
	height: 710px
}
.marker-style {
	width: 20px;
	height: 20px;
	margin-left: -10px !important;
	margin-top: -50px !important
}
.cluster > div {
	font-size: 12px !important;
	font-family: 'Montserrat', sans-serif !important;
	line-height: 44px !important
}
#find-location {
	position: absolute;
	bottom: 50px;
	left: 50%;
	-moz-transform: translate(-50%, 100%);
	-webkit-transform: translate(-50%, 100%);
	-ms-transform: translate(-50%, 100%);
	-o-transform: translate(-50%, 100%);
	transform: translate(-50%, 100%);
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out
}
#find-location.open {
	-moz-transform: translate(-50%, 50px);
	-webkit-transform: translate(-50%, 50px);
	-ms-transform: translate(-50%, 50px);
	-o-transform: translate(-50%, 50px);
	transform: translate(-50%, 50px);
	z-index: 9999
}
.form-up-btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding: 0 30px;
	line-height: 50px;
	cursor: pointer
}
.form-up-btn span {
	padding-left: 15px
}
.form-up-btn span i {
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out
}
#find-location.open .form-up-btn span i {
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}
/*Home page 6 map*/
.search-box-map #find-location {
	width: 320px;
	bottom: 50%;
	left: 10%;
	position: absolute;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
	-ms-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
	padding: 30px;
}
.price_range {
	padding-bottom: 30px;
}
.search-box-map .property_filter_input .price-filter, .search-fixed-right .property_filter_input .price-filter {
	height: 50px;
	margin-right: 5px;
}
/*Home page 9 map*/
#map-banner.half-wide-map {
	display: flex
}
.half-wide-map #map {
	width: 65%;
	float: left;
}
.search-fixed-right {
	float: right;
	width: 35%;
}
.search-fixed-right #find-location {
	position: static;
	transform: none;
}
.single_property_detail #map {
	height: 270px
}
/*===============================================
17. Feature Property Tab Home 2
================================================*/
.filter-tabs {
	margin: 0 0 50px;
	text-align: center
}
.filter-btns li {
	cursor: pointer;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 600;
	margin-right: 10px;
	padding: 0 20px;
	line-height: 40px;
	text-transform: uppercase;
}
.filter-btns li:last-child {
	margin-right: 0
}
.filter-list .mix {
	display: none
}
/*=========================================================
18. Client Feedback 2 Section CSS Home 2
==========================================================*/
.feedback_item_2 p {
	padding: 30px;
	position: relative;
	text-align: right
}
.feedback_item_2 p::before {
	content: "";
	position: absolute;
	bottom: -35px;
	left: 30px;
	border-right: 35px solid transparent;
	border-top: 45px solid transparent;
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
}
.feedback_item_2 .testimonial_avata_1 img {
	margin: 0 0 15px
}
.owl_carousel_4 .owl-nav {
	margin: 50px auto 0;
	display: table
}

/*=========================================================
19. Video Background CSS Home 3
==========================================================*/
header.video-header {
	position: absolute;
	width: 100%;
	top:0;
	z-index: 1000
}
header.video-header  #top_header,
header.video-header #nav_header {
	background: none;
}
.video-header .navbar-default .navbar-nav {
	padding: 20px 0
}
.fixed-header.video-header .navbar-default .navbar-nav{
	padding: 0
}
.fixed-header.video-header .navbar-default .navbar-nav > li > a {
	color: #444
}
.video-header .navbar-default .navbar-nav > li > a,
.video-header .navbar-default .navbar-nav > li > a > i {
	line-height: 40px
}
#video-background {
	height: 90vh
}
#video-background video {
	position: fixed;
	top: -150px;
	min-width: 101%;
	z-index: -99;
}
#video-background .property_filter_input input.input-address {
	height: 55px;
	padding: 0 50px 0 30px;
	border: none
}
#video-background .property_filter_input input[type="submit"] {
	background: url("../img/icons/find-location.png") repeat scroll 0 0 / cover ;
	height: 25px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 25px;
	top: 15px;
	width: 25px;
	cursor: pointer;
	border: none
}
#video-background .carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	left: auto;
	right: auto;
	bottom: auto
}
#video-background .carousel-caption span {
	font-size: 18px;
	font-weight: 400
}
/*===================================================
19.1 Property Catagory Section CSS Home 3
=====================================================*/
.category_grid {
	position: relative;
	overflow: hidden
}
.category_img img {
	height: 100%
}
.category_img.ctg_1 {
	height: 350px;
}
.category_img.ctg_2 {
	height: 730px;
}
.category_grid span {
	font-style: italic
}
.category_img img {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.category_grid:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
}
/*=======================================================
20. Fixed Banner on Top Home 4
========================================================*/
.slider-search-2 {
	width: 90%;
	float: right
}
.slider-search-2 .title {
	padding: 15px 30px;
	display: table;
	position: relative;
	text-align: right
}
.slider-search-2 .title::before {
	border-right: 25px solid transparent;
	content: "";
	left: 20px;
	position: absolute;
	bottom: -30px;
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
	border-top: 35px solid;
}
.slider-search-2 a.btn_default {
	text-transform: inherit;
	font-weight: 500
}
/*=======================================================
21. Submit Property Banner Home 4
========================================================*/
.banner_1 {
	position: relative;
	z-index: 2;
	width: 100%
}
.property_thumbnails .thumbnails_box i{
	position: absolute;
	top: 5px;
	right: 20px;
	color: #fff;
	cursor: pointer
}
#slider-fixed {
	height: 80vh;
	position: relative
}
/*==========================================
22. Pricing Table Section Home 5
===========================================*/
.pricing_item_1 {
	padding: 90px 30px 50px 30px;
}
.pricing_item_1 .upper_1 {
	padding: 10px 0;
	top: 20px;
	right: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	width: 120px;
}
.pricing_item_1 .head .h2 {
	font-family: 'Montserrat', sans-serif;
}
.pricing_item_1 .head p {
	margin-bottom: 0
}
.pricing_item_1 .downling_center::after {
	width: 50px
}
.pricing_item_1 .features li {
	padding: 10px 0;
}
.pricing_item_1.active {
	padding: 90px 30px 20px;
	z-index: 10;
	top: -30px;
	box-shadow: 0 0 10px;
	left: -30px;
	width: 410px;
}
/*=====================================
23. Pricing Style 2
=======================================*/
.pricing_item_2 > span{
	font-size: 36px
}
.pricing_item_2 .pricing_info span{
	font-size: 14px;
	display: table;
	margin: 0 auto
}
.pricing_item_2 .features li{
	padding: 10px 0;
	border-bottom: 1px solid #f5f5f5;
}
.pricing_item_2:hover{
	margin-top: -20px
}
.pricing_item_2, .form-up-btn span i {
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out
}
/*=====================================
23. Page Banner and Title
=======================================*/
.page_location li {
	float: right;
}
.page_location li:nth-child(even) {
	margin: 0 10px
}
/*=============================
24. Property grid page
==============================*/
.property_sorting ul > li {
	float: left;
	margin-left: 10px
}
.property_sorting ul li > span {
	font-family: 'Montserrat', sans-serif;
	line-height: 45px;
	margin-right: 10px;
}
.property_sorting ul li a {
	display: block;
	font-size: 16px;
	padding: 0 15px;
	line-height: 46px;
}
/*=============================
25. Property list page
==============================*/
.property_list_1 {
	display: flex;
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%
}
.property_list_1 .zoom_effect_1 {
	width: 45%;
	float: left
}
.property_list_1 .property_list_details {
	width: 55%;
	float: left
}
.property_list_1 .property_text, .sidebar-widget {
	margin-bottom: 50px
}
/*========right sidebar========*/
.sidebar_agent.sidebar-widget {
	margin-top: 80px
}
.widget-title {
	text-align: left
}
.owl_carousel_5 .owl-nav, .owl_carousel_6 .owl-nav {
	position: absolute;
	top: -50px;
	right: 0;
}
.sidebar_tesimonial.sidebar-widget .feedback_item_1 {
	width: 100%;
	padding: 30px 30px 60px
}
.sidebar_tesimonial.sidebar-widget .feedback_item_1 p {
	padding: 0
}
.sidebar_tesimonial.sidebar-widget .bootstrap_carousel_1 .carousel-indicators {
	margin-top: 0;
	bottom: 35px
}
/*========= pagination========*/
.pagination_style1 li {
	margin-left: 10px
}
.pagination_style1 a {
	border: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	padding: 8px 17px;
	display: block;
}
/*=========full width property list========*/
.property_list_1.full .p-3 {
	padding: 30px 20px !important
}
/*=============================
26. Single Property Page
==============================*/
.property_listing_2 ul, .property_listing.sidebar-widget ul {
	padding: 15px 25px;
	display: inline-block;
	width: 100%
}
.property_listing.sidebar-widget li {
	margin-bottom: 10px;
}
.property_listing.sidebar-widget li:last-child {
	margin-bottom: 0
}
.property_listing_2 li span {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
}
.property_listing.sidebar-widget li span {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	width: 120px
}
.property_listing_2 li {
	float: left;
	width: 33.33%;
	padding: 10px 0
}
/*contact_agent*/
.contact_agent.sidebar-widget {
	border-radius: 4px;
	box-shadow: 0 0 5px #d2d2d2;
	padding: 25px;
}
.contact_agent.sidebar-widget .author_img {
	display: table;
}
.contact_agent.sidebar-widget .author_img img {
	width: 60px;
	border-radius: 100%;
	float: right
}
.contact_agent.sidebar-widget .author_img .agent_info {
	width: 160px;
	float: left;
	margin-left: 15px;
	margin-top: 6px;
	font-family: "Montserrat", sans-serif;
}
.contact_agent.sidebar-widget .author_img .author_name {
	text-transform: inherit;
	margin-bottom: 5px
}
.contact_agent.sidebar-widget form {
	margin-top: 20px
}
/*featured_sidebar*/
.featured_sidebar.sidebar-widget .position-relative {
	overflow: hidden
}
.featured_sidebar.sidebar-widget .quantity {
	position: absolute;
	bottom: -150px;
	left: 0;
	padding: 10px;
	width: 100%;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0 );
}
.featured_sidebar.sidebar-widget .property_grid_1:hover .quantity {
	bottom: 0;
}
/*=======single_property_detail============*/
.single_property_detail .head {
	margin-bottom: 40px;
}
.single_property_detail .head .title {
	font-weight: 700;
	margin-bottom: 10px
}
.single_property_detail .head span {
	font-family: "Montserrat", sans-serif;
}
/*more_information*/
.single_property_detail .more_information li {
	float: left;
	width: 33.33%;
	margin-bottom: 10px;
}
.single_property_detail .more_information li span {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	width: auto;
	margin-left: 5px;
}
/*single_property_detail video */
.single_property_detail video {
	border: 1px solid;
	width: 100%;
	margin-bottom: 50px;
}
/*rating_form*/
.br-widget > a {
	float: left;
	font-size: 18px;
	height: 26px;
	width: 16px;
}
.br-widget > a:before, .user-rating ul li:before {
	content: "\2605";
}
.br-current-rating {
	float: left;
	padding-left: 30px;
	line-height: 28px;
}
/*people_rating user_comments*/
.user_comments {
	display: inline-block
}
.comment_item {
	position: relative;
	padding: 20px 100px 20px 0;
	border-bottom: 1px solid;
	text-align: right;
}
.comment_item.replay {
	padding-right: 170px
}
.comment_item.replay img {
	right: 70px
}
.comment_item img {
	width: 70px;
	position: absolute;
	right: 0;
	top: 20px
}
.comment_item .author_name {
	display: inline-block;
	text-transform: inherit;
	font-weight: 400;
}
.comment_item .author_info span {
	padding-left: 30px;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 400;
}
.comment_item .user-rating {
	display: inline-block;
	width: 100%;
	margin: 15px 0 10px
}
.comment_item .user-rating li {
	float: right;
	margin-left: 3px;
}
.comment_item .btn {
	line-height: 36px;
	text-transform: capitalize
}
/*=============================
27. Property gird map page
==============================*/
.property_search_area {
	display: inline-block;
	width: 100%
}
.property_search_area .bootstrap-select {
	width: 20% !important;
	float: left
}
.property_search_area .input {
	position: relative;
	width: 80%;
	float: left;
}
.property_search_area .input input {
	height: 48px;
	padding-right: 40px
}
.property_search_area .input button {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
	width: 40px;
	height: 100%;
	text-align: center;
}
.search_map #map, .search_map.two {
	width: 100%;
	height: 500px
}
/*agent_profile_grid page start*/
.profile_data ul li {
	margin-bottom: 10px;
	font-weight: 500
}
.profile_data ul li:last-child {
	margin-bottom: 0;
}
.profile_data ul li span {
	font-family: "Montserrat", sans-serif;
	width: 100px;
	display: inline-block;
}
.property_price {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
}
/*============================
28. About Us page css
==============================*/
.according_area {
	margin-bottom: 10px
}
.who_text {
	text-align: right
}
.according_title {
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 25px 10px 15px;
	display: block;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.according_details {
	padding: 10px 15px;
	display: none
}
.according > div:first-child .according_details {
	display: block
}
.misson_area li {
	position: relative;
	padding-right: 100px;
	margin-bottom: 30px
}
.misson_area li img {
	position: absolute;
	right: 0;
	width: 80px
}
.misson_area li:last-child {
	margin-bottom: 0
}
.misson_area li span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
	display: block
}
.misson_area li p {
	margin-bottom: 0
}
/*============================
29. Blog Grid page css
==============================*/
.blog-sidebar {
	text-align: right
}
.sidebar-widget.categories li, .sidebar-widget.archives li {
	margin-bottom: 15px;
}
.sidebar-widget.categories li:last-child, .sidebar-widget.recent-post li:last-child, .sidebar-widget.archives li:last-child {
	margin-bottom: 0
}
.sidebar-widget.categories li a, .sidebar-widget.recent-post li a, .sidebar-widget.populer_comment li a, .sidebar-widget.archives li a {
	display: block;
	font-family: 'Montserrat', sans-serif;
}
.sidebar-widget.recent-post li {
	margin-bottom: 20px;
}
.sidebar-widget.recent-post li a, .sidebar-widget.populer_comment li a {
	margin-bottom: 10px
}
.sidebar-widget.recent-post li span, .sidebar-widget.populer_comment li span {
	text-transform: capitalize;
	display: block;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px
}
.recent-post li span i {
	margin: 0 3px 0 10px;
}
.sidebar-widget.populer_comment .nav-tabs {
	border: none
}
.sidebar-widget.populer_comment .nav li {
	margin-right: 10px
}
.sidebar-widget.populer_comment .nav li:last-child {
	margin-right: 0
}
.sidebar-widget.populer_comment .nav li a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	padding: 10px 20px;
	position: relative;
	display: block;
	border-radius: 0;
	border: none;
}
.sidebar-widget.populer_comment .nav li a.active::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: 40px;
	left: 40%;
	border-top: 10px solid transparent;
}
.sidebar-widget.populer_comment .tab-pane li {
	padding-top: 30px;
}
.sidebar-widget.populer_comment .tab-pane li i {
	margin-right: 3px
}
.sidebar-widget.tag_area ul {
	display: inline-block
}
.sidebar-widget.tag_area li {
	float: right;
	margin-right: 4px;
	margin-bottom: 4px;
}
.sidebar-widget.tag_area li a {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	padding: 10px 12px;
	font-weight: 400;
	display: block;
}
/*============================
30. Blog Details page css
==============================*/
.single_blog_detail .head .post-info {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	font-style: italic;
	font-weight: 400;
}
.single_blog_detail .head .post-info .comment_text {
	margin-left: 15px;
	margin-right: 3px
}
blockquote {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin: 10px 0;
	font-weight: 500;
	padding: 10px 0;
	font-style: italic;
	padding-left: 30px;
}
/*============================
31. Submit Property page css
==============================*/
.hide {
	display: none
}
/*---- Switch butto -------*/
.important_facts {
	padding: 10px 0;
}
.important_facts > label {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 44px;
	padding-right: 20px
}
.radio_check label {
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out
}
.radio_check {
	border-radius: 22px;
	float: right;
	height: 44px;
	overflow: hidden;
	width: 90px
}
.radio_check label {
	background: none repeat scroll 0 0;
	cursor: pointer;
	padding-left: 20px;
	position: relative;
	width: 135px;
}
.radio_check input[type="checkbox"]:checked + label {
	background: none repeat scroll 0 0;
	transform: translateX(-44px);
	padding-right: 20px;
}
.radio_check label span {
	line-height: 44px;
}
.radio_check label span:first-child {
	float: left;
}
.radio_check label span:last-child {
	float: right;
}
.radio_check label::before {
	background: none repeat scroll 0 0;
	border-radius: 17px;
	content: "";
	height: 34px;
	position: absolute;
	right: 51px;
	top: 5px;
	width: 34px;
}
/*---- CHECKBOX -------*/
.check_submit li {
	display: inline-block;
	padding: 5px 15px;
	width: 33%;
	text-align: right
}
.check_submit li label {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	padding-right: 27px;
	position: relative;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 24px
}
.check_submit li label::before {
	border: 2px solid transparent;
	box-sizing: border-box;
	content: "";
	height: 19px;
	right: 0;
	position: absolute;
	top: 3px;
	transition: border-color 0.3s ease 0s;
	width: 19px;
}
.check_submit li input[type="checkbox"]:checked + label::before {
	font-size: 12px;
	line-height: 17px;
	position: absolute;
	text-align: center;
	content: "\f00c";
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	border: none
}
/*---- FILE -------*/
.browse_submit span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding-bottom: 5px;
	margin-bottom: 10px;
	display: inline-block;
	text-transform: uppercase
}
.browse_submit p span {
	margin-bottom: 0;
	padding-bottom: 0
}
.fileupload_label {
	background: transparent none repeat scroll 0 0;
	border: 2px dashed transparent;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	padding: 70px 0;
	text-align: center;
	width: 100%;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out
}
.fileupload_label:hover {
	background: rgba(144, 201, 35, 0.05);
	border-color: rgba(144, 201, 35, 0.7);
	font-size: 16px;
}
/*---- video -------*/
.video_upload {
	padding-top: 40px
}
/*---- alert -------*/
.upload_media {
	margin-bottom: 30px;
	position: relative
}
.submit_form .alert {
	border: medium none;
	border-radius: 0;
	left: 100%;
	margin-left: 30px;
	position: absolute;
	top: 0;
	width: 31%;
}
.submit_form .alert::before {
	border-style: solid;
	border-width: 10px 60px 40px 30px;
	border-color: transparent;
	content: "";
	left: -60px;
	position: absolute;
	top: 5px;
	z-index: -1;
}
.browse_submit {
	margin-top: 30px
}
.browse_submit .btn {
	display: table;
	float: right;
	margin-left: 20px
}
.browse_submit > p {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	text-transform: capitalize;
	line-height: 50px;
	margin-bottom: 0;
}
.basic_information, .description, .check_feature, .upload_media {
	position: relative
}
/*============================
32. Sign in and Sign up page css
==============================*/
.sign_in_up {
	max-width: 500px;
	margin: 0 auto;
	text-align: right
}
.sign_in_up .header {
	padding: 20px 30px;
	border-radius: 0 !important
}
.sign_in_up .header .inner-title {
	text-transform: capitalize
}
.sign_in_up .body {
	padding: 30px;
	text-align: right
}
.sign_in_up .body p {
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.sign_in_up .body p span {
	display: block;
	width: 100%
}
.sign_in_up .footer {
	text-align: center;
	padding: 20px;
	border-top: 1px solid transparent;
	font-size: 13px
}
.sign_in_up .footer a {
	display: block;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	margin-top: 5px
}
.sign_in_up input[type="radio"] {
	margin-right: 3px;
	cursor: pointer
}
.sign_in_up .input_radio label {
	margin-right: 10px;
	cursor: pointer;
	font-weight: 600
}
/*============================
33. Mission page css
==============================*/
.mission_video video {
	width: 100%;
}
.info-pages .inner-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*============================
34. Career page css
==============================*/
.fact_item i {
	font-size: 30px;
	margin-bottom: 20px;
	display: block
}
.caeer-grid {
	padding: 30px;
}
.caeer-grid ul li {
	margin-bottom: 5px
}
/*============================
35. Testimonial page css
==============================*/
.feedback_item_3 {
	padding: 15px;
}
.feedback_item_3 .avata {
	display: inline-block;
	width: 100%
}
.feedback_item_3 .avata img {
	float: right;
	margin-left: 15px;
	margin-bottom: 0;
	width: 45px;
	height: 45px;
	border: 1px solid transparent;
	border-radius: 50%;
}
.feedback_item_3 .avata span {
	text-transform: capitalize;
	font-size: 13px;
}
/*============================
36. Chang password page css
==============================*/
.settings_links_2 ul {
	border-bottom: 1px solid transparent;
	padding: 25px 30px;
}
.settings_links_2 ul li {
	margin-bottom: 5px
}
.settings_links_2 li span {
	font-family: 'Montserrat', sans-serif;
	line-height: 24px;
	display: block;
}
.settings_links_2 li a {
	display: block;
	padding: 5px 10px;
	transition: 0.3s;
	font-weight: 500;
}
.settings_links_2 li a i {
	padding-left: 10px;
	float: right
}
.settings_links_2 [class^="flaticon-"]::before {
	font-size: 16px
}
.settings_links_2 li a span {
	float: left;
}
.submit_form.change_password {
	position: relative
}
.submit_form.change_password .alert {
	width: 47%
}
/*============================
37. Comments page css
==============================*/
.replay-form textarea {
	margin-bottom: 20px
}
.comment_item .author_text a.action {
	padding-right: 15px;
	display: none;
	font-size: 13px;
	float: right;
	font-weight: 500
}
.comment_item:hover .author_text a.action {
	display: block;
}
.comment_item.replay.type_2 {
	border-bottom: none
}
/*============================
38. Invoices page css
==============================*/
.list_table {
	width: 100%
}
.list_table thead tr td:first-child {
	padding-left: 15px;
}
.list_table thead tr td {
	padding: 0 10px;
}
.list_table thead tr td {
	font-family: "Montserrat", sans-serif;
	line-height: 50px;
}
.list_table tbody tr td {
	padding: 30px 10px;
	font-family: "Montserrat", sans-serif;
	border-bottom: 1px solid transparent;
	font-weight: 400;
}
.list_table .due {
	font-weight: 500;
}
/*============================
39. Invoices Details page css
==============================*/
.invoice_header {
	padding: 15px 20px;
}
.invoice_liner {
	border-bottom: 2px solid;
	padding-bottom: 30px;
}
.invoice_info li {
	font-family: "Montserrat", sans-serif;
	line-height: 35px;
	text-align: right
}
.invoice_info li span {
	display: inline-block;
	width: 110px;
}
.invoice_info li span {
	display: inline-block;
	width: 110px;
}
.invoice_table .list_table tbody tr td {
	padding: 10px;
}
.invoice_table .list_table tbody tr td {
	border-bottom: none
}
.invoice_table .list_table tbody tr:hover {
	background: transparent;
}
.final_price {
	padding: 20px 0;
	display: table;
	float: right
}
.final_price li {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 500;
}
.final_price li:first-child {
	margin-right: 50px
}
.pay_now {
	display: inline-block;
	width: 100%
}
.pay_now .btn {
	float: right;
	margin-top: 15px
}
.payment_note p {
	padding: 15px 0;
	font-size: 14px;
	text-align: right;
}
/*============================
40. Message page css
==============================*/
.message_item {
	border-bottom: 1px solid transparent;
	padding: 10px 0;
}
.message_item:first-child {
	padding-top: 0
}
.message_item a {
	padding: 12px;
	display: table;
	position: relative;
	width: 100%;
}
.message_item.new .new {
	font-size: 12px;
	right: 0;
	padding: 4px 8px;
	position: absolute;
	top: -15px;
}
.message_item.new .new::before {
	border-style: solid;
	border-width: 10px;
	content: "";
	position: absolute;
	right: 0;
	top: 14px;
	border-color: transparent;
}
.message_item img {
	border-radius: 100%;
	float: right;
	height: 55px;
	margin-left: 20px;
	width: 55px;
}
.message_item .sender_name {
	font-family: "Montserrat", sans-serif;
}
.message_item p {
	font-size: 13px;
	margin-bottom: 0
}
.message_item .datetime {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	display: table;
	float: left;
	text-align: right
}
.message_item .datetime span {
	display: block
}
/*============================
41. Message Details page css
==============================*/
.msg_text {
	padding: 0 15px 30px;
}
.msg_text datetime {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	text-decoration: underline;
	display: block;
	margin-bottom: 20px
}
.msg_text .name {
	font-weight: 500;
	margin-bottom: 10px;
	display: block;
}
.regard {
	line-height: 26px;
	font-weight: 500;
}
.regard span {
	display: block
}
.msg_replay p {
	font-size: 12px;
}
.msg_replay .btn {
	line-height: 40px
}
/*============================
42. My favorite page css
==============================*/
.my_property_list {
	width: 100%
}
.my_property_list thead td {
	font-family: "Montserrat", sans-serif;
	padding: 10px
}
.my_property_list thead td:first-child {
	padding-left: 15px;
}
.my_property_list thead td:last-child {
	text-align: right;
	padding-right: 15px
}
.my_property_list tbody tr td {
	padding: 30px 10px;
	font-family: "Montserrat", sans-serif;
	border-bottom: 1px solid transparent;
	text-align: right
}
.my_property_list tbody tr td img {
	float: right;
	margin-left: 15px;
	width: 150px;
}
.my_property_list tbody tr td .text {
	float: right;
	text-align: right;
}
.my_property_list .title, .my_property_list .title a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 30px;
	text-transform: capitalize
}
.my_property_list .text span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	margin-bottom: 5px;
	display: inline-block;
}
.my_property_list .text span i {
	font-size: 11px;
	margin-right: 5px;
}
.my_property_list .text .price {
	font-size: 13px
}
.my_property_list .delete {
	text-align: right
}
.my_property_list.type_2 .edit a, .my_property_list .delete a {
	font-size: 11px;
}
/*============================
43. My Profile page css
==============================*/
.profile_area .personal_infor label {
	margin-bottom: 10px
}
.profile_area .personal_infor .form-group {
	margin-bottom: 25px
}
.save_change {
	padding-top: 20px;
}
.save_change p span {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.avata_form {
	position: relative
}
.avata_form input[type="file"] {
	display: none;
}
.avata_form label {
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 30px;
}
.prifile_picture ul {
	margin-top: 20px;
	display: inline-block
}
.prifile_picture ul li {
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
}
.prifile_picture ul li span {
	width: 50px;
	display: inline-block;
}
/*============================
44. My Properties page css
==============================*/
.my_property_list thead tr td {
	padding-left: 10px;
	padding-right: 10px;
	text-align: right
}
.my_property_list.type_2 tbody tr td img {
	width: 120px;
}
.my_property_list.type_2 .text {
	width: 160px
}
.my_property_list .rating i {
	font-size: 10px;
}
.my_property_list.type_2 .edit, .my_property_list.type_2 .delete {
	font-size: 11px;
	text-align: right
}
/*============================
45. Our Services page css
==============================*/
.service_item_2 .service_circle {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	float: right;
}
.service_circle [class*=" flaticon-"]::before {
	display: table;
	font-size: 45px;
	line-height: 115px;
	margin: 0 auto;
}
.service_item_2 .service_text {
	padding-right: 30px;
	display: table;
	text-align: right;
}
.service_banner {
	padding: 30px;
}
.service_banner p {
	padding: 30px 0
}
/*============================
46. Terms and condition page css
==============================*/
.terms_sidebar li {
	padding-bottom: 20px;
}
.terms_sidebar li:last-child {
	margin-bottom: 0
}
.terms_sidebar li a, .terms_description .date {
	font-family: 'Montserrat', sans-serif;
}
.terms_description .terms_deals {
	padding-left: 100px;
}
/*============================
47. Contact page css
==============================*/
.contact_right > p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.contact_right #map {
	width: 100%;
	height: 436px
}
.error-handel > div {
	display: none;
}
/*============================
48. Error page css
==============================*/
.page_error {
	font-size: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	display: block;
	line-height: 140px;
}
.error_area .btn {
	margin-top: 20px
}
/*============================
49. Faq page css
==============================*/
.sidebar-widget.settings_links {
	padding: 25px 30px;
}
.sidebar-widget.settings_links li a {
	display: block;
	padding: 5px 10px;
	transition: 0.3s;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	text-align: right
}
.sidebar-widget.faq_brochure .btn {
	width: 100%;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px
}
.sidebar-widget.faq_brochure .btn i {
	margin-right: 5px
}
.faq_form {
	margin-top: 30px;
	margin-bottom: 30px
}
.pagination_style1.type_2 {
	margin-top: 30px
}

.index_tab {
	padding: 70px 0;
	background: #f5f5f5;
}
#thumb-header {
	width: 100%;
	padding: 30px 0;
	background: #fff;
	text-align: center;
	box-shadow: 0px 2px 6px #cacaca;
	position: relative;
}
#thumb-header .uniland-logo {
	display: table;
	margin: 0 auto;
}
#thumb-header h6 {
	padding-top: 15px;
	color: #0d1c42;
}
#thumb-header .btn {
	position: absolute;
	right: 0;
	top: 23px;
}
.thumb-grid{
	text-align: center
}
.thumb-grid .page-title {
	padding: 15px 0 5px 0;
	color: #1a1a1a;
	display: block;
	font-weight: bold
}
.thumb-grid img{
	border: 1px solid #ccc
}
/*============================
49. Agency page css
==============================*/
.agency_profile label{
	font-weight: bold;
	margin-bottom: 7px
}
.faq_item .faq_question {
	width: 50px;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	float: right;
	margin-left: 20px
}
.faq_item .faq_question:before{
	position: absolute;
	content: "";
	border: 10px solid transparent;
	bottom: -10px;
	right: 0
}
.faq_item .faq_answer p{
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 15px
}
/*============================
49. Terms and Condition page css
==============================*/
.condition_details .time{
	font-weight: 600
}
.article-list li a {
	font-weight: 600;
	font-family: "Open Sans", sans-serif
}
.article-list li{
	margin-bottom: 20px;
	list-style:decimal inside
}
/*============================
49. Timeline page css
==============================*/
.timeline .circle{
	position: relative;
	top: 8px;
	background: #fff;
	width: 45px;
	height: 45px;
	border: 2px solid #000;
	border-radius: 50%;
	display: table
}
.timeline .point{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.timeline .date {
	position: absolute;
	left: -115px;
	top: 6px;
	padding: 7px 11px
}
.timeline .timeline_item:hover .date{
	left: -107px
}
.timeline .date:before {
	position: absolute;
	content: "";
	right: -16px;
	top: 9px;
	border: 8px solid transparent
}
.timeline .timeline_info{
	border: 1px solid;
	padding: 20px 80px 20px 30px
}
.table .title{
	font-size: 21px
}
.timeline_item .date, .timeline_item .timeline_info, .timeline_item .circle {
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out
}

/*============================
50. Map Thumbnail
==============================*/
.infobox-wrapper {
	background: #fff;
	width: 300px !important;
	margin-bottom: 85px;
	margin-left: -48px;
}
.infobox-wrapper > img {
	position: absolute !important;
	top: 20px;
	right: 20px;
	z-index: 10;
	width: 22px;
	height: 22px
}
.infobox-wrapper .img_area {
	position: relative
}
.infobox-wrapper .sale_amount {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 10;
	font-size: 16px;
	color: #fff
}
.infobox-wrapper .property-title {
	text-transform: inherit
}
.infobox-wrapper:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 42.5%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}

.thumb-wrapper {
	color:#2A2A2A;
	border-radius:0.2em;
	background-color:#fff;
	padding:5px;
	border-color:#DADADA;
	border-style:solid;
	border-width:thin;
	font-size:15px;
	text-align: center;
}

.thumb-image {
	width:100%;
	overflow:hidden;
	border-color:#DADADA;
	border-style:solid;
	border-width:thin;
	background-color:#f1f1f1;
}
.thumb-image:hover {left:50px }

.thumb-image img {
	display : block;
	margin : auto;
	width: auto !important;
	height: 239px;
}

#panel {
	margin-bottom: 10px;
}
#thumbs {
	overflow: hidden;
	width: 100%;
	padding: 10px;
}

#thumbs img {
	background-color: white;
	cursor: pointer;
	position: relative;
}

#thumbs .thumb-wrapper {
	color:#2A2A2A;
	border-radius:0.2em;
	background-color:#fff;
	border-color:#DADADA;
	border-style:solid;
	border-width:thin;
	font-size:15px;
	text-align: center;
}

#thumbs .thumb-image {
	width:100%;
	overflow:hidden;
	border-color:#DADADA;
	border-style:solid;
	border-width:thin;
	background-color:#f1f1f1;
}
#thumbs .thumb-image:hover {left:50px }

#thumbs .thumb-image img {
	display : block;
	margin : auto;
	width: auto !important;
	height: 150px;
}

#thumbs .col-md-4, #thumbs .col-lg-4, #thumbs .col-sm-6 {
	float: left;
	margin: 15px 0;
}

#header {
	z-index: 10;
}

.overflow-hide {
	height: 200px;
	overflow: hidden;
	vertical-align: middle;
	position: relative;
	text-align: center;
	display: block;
}

.overflow-hide img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin-top: -1px;
}

.single-property-area .property-tab .tab-content>div {
    padding-top: 30px;
}

ul.ere-property-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-2-col {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

ul.ere-property-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.ere-property-list li:nth-child(odd) {
    background: #f8f8f8;
}

ul.ere-property-list li {
    padding: 8px 15px;
}
.list-2-col li {
    display: block;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    overflow: hidden;
}
ul.ere-property-list strong {
    display: inline-block;
    width: 50%;
}
ul.ere-property-list span {
    display: inline;
    width: 50%;
}
.fade.in {
    opacity: 1;
}

.news_item_1 .news_img::before {
    background-color: rgba(0, 124, 122, 0.58) !important;
}

.content-blog ol li{
	list-style-type: decimal;
}

.content-blog ul li{
	list-style-type: inherit;
}

.content-blog ul, .content-blog li {
	list-style-type: inherit;
}

.pagination {
	float: none;
}

.image-uploader .uploaded .uploaded-image {
	display: block !important;
}
